.idea/
__pycache__/
a.out
programs/results.txt
my-results.txt
maszyna_wirtualna/*.o
maszyna_wirtualna/parser.cc
maszyna_wirtualna/parser.hh
maszyna_wirtualna/lexer.cc
maszyna_wirtualna/maszyna_wirtualna
maszyna_wirtualna/maszyna_wirtualna-cln