.idea/
__pycache__/
a.out
*/my-results.txt
maszyna_wirtualna/*.o
maszyna_wirtualna/parser.cc
maszyna_wirtualna/parser.hh
maszyna_wirtualna/lexer.cc
maszyna_wirtualna/maszyna-wirtualna
maszyna_wirtualna/maszyna-wirtualna-cln