(this costs more memory because we save true and false values in memory)
RESET a
STORE a a   (p[a]=0)
RESET b 
INC b
STORE b b   (p[b]=1)
RESET c     (c <- 0)
INC c
INC c
GET c       (p[2] <- read n)
LOAD c c
RESET d     (d <- 0)
INC d
INC d
INC d       (d <- 3)
GET d       (p[3] <- read m)
LOAD d d
RESET e
ADD e c
SUB e d     (e <- c - d)
JZERO e 3   (check second condition)
PUT a       (write 0-false)
HALT
RESET e
ADD e d
SUB e c     (e <- d - c)
JZERO e 3
PUT a       (write 0-false)
HALT
PUT b       (write 1-true)
HALT
