RESET a     (a <- 0)
GET a       (p[0] <- read n)
LOAD a a
RESET b     (b <- 0)
INC b       (b <- 1)
GET b       (p[1] <- 1)
LOAD b b
RESET c
ADD c b
SUB c a     (c <- b - a)
JZERO c 5
RESET c     (write 0-false)
STORE c c
PUT c       
HALT
RESET c     (write 1-true)
INC c
STORE c c
PUT c       
HALT
