RESET a     (a <- 0)
GET a       (p[0] <- read)
LOAD a a
RESET b     (b <- 0)
INC b       (b <- 1)
GET b       (p[1] <- read)
LOAD b b

RESET c
ADD c b
INC c
SUB c a     (c <- b - a + 1)
JZERO c 5
RESET c     (write 0-false)
STORE c c
PUT c       
HALT
RESET c     (write 1-true)
INC c
STORE c c
PUT c       
HALT
