(generate 1)
RESET a
INC a
GET a
(generate 1)
RESET a
INC a
PUT a
(generate 1)
RESET a
INC a
LOAD a a
(generate 1)
RESET b
INC b
SUB a b
(generate 1)
RESET b
INC b
STORE a b
(generate 1)
RESET b
INC b
LOAD b b
(generate 0)
RESET c
RESET a
ADD a b 
SUB a c 
JZERO a 2
JUMP 5 
RESET a 
ADD a c 
SUB a b 
JZERO a 3RESET a 
JUMP 3 
RESET a 
INC a 
JZERO a -29 
HALT
