(generate 5)
RESET a
INC a
SHL a
SHL a
INC a
LOAD a a
(generate 6)
RESET b
INC b
SHL b
INC b
SHL b
ADD a b
(generate 1)
RESET b
INC b
(Store value from register a in memory cell 1)
STORE a b
(generate 3)
RESET a
INC a
SHL a
INC a
(generate 69)
RESET b
INC b
SHL b
SHL b
SHL b
SHL b
INC b
SHL b
SHL b
INC b
(Store 69 in memory cell 3)
STORE b a
(generate 1)
RESET a
INC a
PUT a
HALT
